body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgb(219, 218, 218);
    height: 100vh;
}
div{
    height: 600px;
    width: 250px;
    background: #fff;
    box-shadow: -5px -5px 3px 0px rgba(88, 88, 88, 0.6);
    border-radius: 10px; 
}
.box1{
    
    margin-right: -310px;
}
p{
    width: 200px;
    border: 1px solid #218838;
    background: #218838;
    color: #fff;
    margin: 4px 25px;
    border-radius: 4px;
    padding: 0 60px 
}
button{
   margin: 520px 80px;
}